<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
   </h1>
 </div>

 <h3>router example</h3>
     <!-- <a [routerLink]="['/student']">student</a>------ -->
     <!-- <a [routerLink]="['/studentdetails']">Student Details</a><br/> -->
     <!-- <a [routerLink]="['/teacher']">teacher details</a>-------
     <a [routerLink]="['/parentdetails']">Parent Details</a><br/>
     <button (click)="student()">Show student</button>
     <a [routerLink]="['/product']">Neha</a><br/><br/> -->
     <!-- <button (click)="forgotpassword()">Forgot Password</button> -->
     <!-- <a [routerLink]="['/forgotpassword']">Forgot Password</a><br/> -->
     <!-- <app-product></app-product> --> 
     <!-- <app-parent></app-parent>
     <app-forgotpass></app-forgotpass> -->
     <!-- <app-paginationexam></app-paginationexam> -->
     <!-- <app-parentcomp></app-parentcomp> -->

     <app-parcom></app-parcom>

     <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" routerLink="/parent/child-one" routerLinkActive="active">Child One</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parent/child-two" routerLinkActive="active">Child Two</a>
      </li>
    </ul>
<div>
  <router-outlet></router-outlet>
</div>

